body {
    background-color: #1a1a1a; /* Background color of the page */
    font-family: 'Calibri', sans-serif;
    color: #ffffff; /* Text color */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}

.hidden {
    display: none;
}

#login-message {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logged-in {
    opacity: 1;
}

.customer-panel {
    background-color: #2c2c2c; /* Background color of the customer panel */
    padding: 20px; /* Padding around the panel content */
    border-radius: 8px; /* Rounded corners of the panel */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for the panel */
}

h2 {
    margin-top: 0; /* Top margin of the heading */
}

h3 {
    margin-top: 0; /* Top margin of the subheading */
}

#profile-info, #actions {
    margin-bottom: 20px; /* Margin between profile info and actions */
}

button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* No border for the button */
    padding: 10px 20px; /* Padding around the button content */
    border-radius: 4px; /* Rounded corners of the button */
    cursor: pointer; /* Change cursor on hover */
}

button:hover {
    background-color: #0056b3; /* Background color on hover */
}

.login-form h2 {
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px); /* Adjust margins for the width */
    border: none;
    border-radius: 5px;
    background-color: #4c4c4c;
    color: #ffffff;
}

/* Focus effect for input fields */
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    outline: none;
    background-color: #5c5c5c;
}

.login-form button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form p {
    margin-top: 10px;
}

.login-form a {
    color: #007bff;
}

.login-form a:hover {
    color: #0056b3;
}
